@model Basket
@{
    ViewData["Title"] = "Your Basket";
}

<h2>Your Basket</h2>
@if (Model.BasketItems.Count < 1)
{
    <h3>Your basket is empty!</h3>
}

@foreach (BasketItem item in Model.BasketItems)
{
    <section id="@item.ProductID" class="product">
        <img src="@item.Product.ImgUrl" />
        <h4>@item.Product.Name</h4>
        <h5>$@item.Product.Price</h5>
        <p>@item.Product.Description</p>
        <a asp-action="View" asp-route-id="@item.Product.ID">View Details</a>
        <div class="basketinputs">
            Quantity:  
            <select onchange="updateQuantity(@Model.ID, @item.ProductID, this.value)">
                @for (int i = 1; i <= 5; i++)
                {
                    if (i == item.Quantity)
                    {
                        <option selected="selected" value="@i">@i</option>
                    }
                    else
                    {
                        <option value="@i">@i</option>
                    }
                }
            </select>
            <button onclick="deleteItem(@Model.ID, @item.ProductID)">Remove From Basket</button>
        </div>
    </section>
}

<button onclick="location.href = '/Checkout/Reciept'">Checkout</button>

<script>
    function updateQuantity(basketId, productId, quantity) {
        $.ajax({
            type: 'PUT',
            url: '/shop/updatequantity',
            datatype: 'json',
            data: {
                basketId: basketId,
                productId: productId,
                quantity: quantity
            },
            error: function () {
                alert('Something went wrong!');
            }
        });
    }

    function deleteItem(basketId, productId) {
        $(`#${productId}`).remove();
        $.ajax({
            type: 'DELETE',
            url: '/shop/deleteitem',
            datatype: 'json',
            data: {
                basketId: basketId,
                productId: productId
            },
            error: function () {
                alert('Something went wrong!');
            }
        });
    }
</script>